* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Oswald', sans-serif;
}

body {
        display: flex;
        height: 100vh;
        width: 100vw;
}

.wrapper {
        display: flex;
        height: 100vh;
        width: 100vw;
}

.conteiner-left {
        display: inline-block;
        width: 60%;
        align-items: center;
        margin-top: 200px;
        margin-right: 120px;
}

h1 {
        font-size: 70px;
        color: #5D5D7D;
        line-height: 80px;
        text-align: left;
        width: 368px;
        height: 160px;
        font-weight: 400;
        margin-top: 150px;
        margin-left: 80px;
}

p {
        font-size: 28px;
        color: #5D5D7D;
        line-height: 60px;
        text-align: justify;
        margin-top: 20px;
        margin-left: 80px;
        margin-right: 150px;
        width: 540;
        height: 144;
        opacity: 0.6;
        font-weight: 400;
}

button {
        margin-left: 80px;
        width: 269px;
        height: 62px;
        background-color: #9499EA;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 50px;
        margin: 20px 0 15px 80px;
}

button:hover {
        opacity: 0.8;
}

button:active {
        opacity: 0.6;
}

.conteiner-right {
        display: inline-block;
        background-color: rgba(93, 93, 125, 0.16);
        height: 100vh;
        width: 40%;
}

header {
        width: 376px;
        height: 41.12px;
        margin: 27px 0 0 57px;
}

.link-header {
        font-weight: 400px;
        font-size: 20px;
        line-height: 100%;
        color: #17233D;
        margin-right: 40px;
        text-decoration: none;
        cursor: pointer;
        width: 59px;
        height: 41px;
}

a:nth-child(2) {
        opacity: 0.4;
}

img {
        position: relative;
        top: 140px;
        right: 200px;
        width: 456px;
        height: 561.95px;
}

@media screen and (max-width: 900px) {
        .wrapper {
                display: block;
        }

        .conteiner-left,
        .conteiner-right {
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
        }

        h1 {
                font-size: 36px;
                text-align: center;
                font-weight: 400;
                line-height: 52px;
                width: auto;
                height: 104px;
                margin: 50px 50px 0 50px;
        }

        p {
                font-size: 14px;
                text-align: center;
                padding: 0;
                margin: 15px 40px;
                width: auto;
                line-height: 24px;
        }

        button {
                display: block;
                margin: 20px auto;
        }

        img {
                position: static;
                max-width: 90%;
                height: auto;
                margin-top: 20px;
        }

        header {
                display: none;
        }


}