* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body {
    background-image: url("/mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-grande {
    background-color: #000000f2;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    max-width: 100%;
}

.input-texto {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
}

.idioma-selecao {
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ac9e9ef2;
}

.controle {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    display: inline-block;

}

.traduzir {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-image: url("/traduzir.svg");
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    font-size: 0;
    opacity: 0.8;
    
    }

.microfone {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-image: url("/microfone.svg");
    background-size: cover;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0;
    opacity: 0.8;

}

.resultado {
    margin-top: 20px;
    background-color: #ffffff1a;
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
    min-height: 50px;
}

.titulo-traducao {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.traducao {
    font-size: 12px;
    color: #ffffff;

}